@page
@model SurfProject.Pages.MemberPageModel
@{
    ViewData["Title"] = "MemberPage";
}

<h2>
    @Model.Greeting @Model.Member.FirstName
</h2>


<br>

@if (Model.surfProfiles.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Get Surf Report</th>
                <th>Edit Surf Profile</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var surf in Model.surfProfiles)
            { 
                <tr>

                    <td>@surf.Location</td>

                    <td> <a asp-page="MarineAPI" asp-route-id="@surf.SurfProfileID">Get Forecast</a> </td>

                    <td> <a asp-page="EditSurfProfile" asp-route-id="@surf.SurfProfileID">Edit Details</a> </td>

                </tr>
            }
        </tbody>
    </table>
}
<p>
    Customise a surf profile for each of your chosen locations to allow you to see
    when the right conditions for <b>you</b> are firing!
</p>

<br>

<ul>
    <li>Store your preferred surf conditions for your favourite surf spots</li>

    <li>Quickly view when your ideal conditions are going to be at your break</li>

    <li>Choose your wave height, swell direction, wind conditions and swell period</li>
</ul>

<br>

<a asp-page="/CreateSurfProfile" asp-route-id="@Model.Member.MemberID">
    Create Surf Profile
</a>


 

